<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Campeonato Esportivo - Detalhe</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="caixa">
            <img src="/static/img/logo.png" alt="Logo da Campeonato Esportivo" id="logo">
            <nav>
                <ul>
                    <li><a href="home">home</a></li>
                    <li><a href="detalhe">detalhe</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Detalhes dos times</h1>
        <section>
            <table>
                <thead>
                    <tr>
                        <th id='tabelaclube'>Clube</th>
                        <th id='tabeladetalhe'>Detalhes</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><img src="/static/img/bailedemonique.png"></th>
                        <th id='detalhes'>
                            <h2 id="titulotime">Baile de Monique</h2>

                            <p id="descricaotime">&nbsp;&nbsp;&nbsp;&nbsp;O Baile de Monique (mais conhecido como Bailão), é um clube alemão multidesportivo sediado na cidade de Munique, no estado da Baviera. O estado e a cidade, que em alemão, respectivamente, se denominam Bayern e München(local onde havia muitas festas), dão nome ao time. O "FC Bailão" foi fundado em 1900 por onze jogadores de futebol.</p>
                            <p id="elencotime"><a href="https://www.espn.com.br/futebol/time/elenco/_/id/132/bayern-munich" target="_blank" id="linktime">Clique aqui para conhecer o elenco</a></p>
                        </th>
                    </tr>
                    <tr>
                        <th><img src="/static/img/interdelimao.png"></th>
                        <th id='detalhes'>
                            <h2 id="titulotime">Inter de Limão</h2>

                            <p id="descricaotime">&nbsp;&nbsp;&nbsp;&nbsp;O Inter de Limão, conhecido normalmente por Internazionalima, é um clube italiano de futebol com sede na cidade de Milão, capital da região da Lombardia. Fundada no dia 9 de março de 1908, a Inter de Limão é um dos clubes de futebol mais bem sucedidos da Itália, e historicamente, um dos clubes mais bem sucedidos do mundo, com nove títulos internacionais. É também o sétimo time europeu e décimo segundo no mundo com o maior número de conquistas internacionais reconhecidas pela UEFA e pela FIFA.</p>
                            <p id="elencotime"><a href="https://www.espn.com.br/futebol/time/elenco/_/id/110/internazionale" target="_blank" id="linktime">Clique aqui para conhecer o elenco</a></p>
                        </th>
                    </tr>
                    <tr>
                        <th><img src="/static/img/meiabocajunior.png"></th>
                        <th id='detalhes'>
                            <h2 id="titulotime">Meia-Boca Junior</h2>

                            <p id="descricaotime">&nbsp;&nbsp;&nbsp;&nbsp;O Meia-Boca Junior, conhecido como Meia-Boca, é um clube de futebol argentino da cidade de Buenos Aires. Seu nome provém do bairro de La Boca, e é um dos clubes com o maior número de conquistas relevantes, com destaque para seus 6 títulos da Copa Libertadores da América e para os seus 3 títulos mundiais, sendo ainda um dos clubes com mais conquistas internacionais, 18, atrás somente do Al-Ahly com 20 títulos e do Real Madruga com 26 títulos.</p>
                            <p id="elencotime"><a href="https://www.espn.com.br/futebol/time/elenco/_/id/5/boca-juniors" target="_blank" id="linktime">Clique aqui para conhecer o elenco</a></p>
                        </th>
                    </tr>
                    <tr>
                        <th><img src="/static/img/realmadruga.png"></th>
                        <th id='detalhes'>
                            <h2 id="titulotime">Real Madruga</h2>

                            <p id="descricaotime">&nbsp;&nbsp;&nbsp;&nbsp;O Real Madruga, mais conhecido como Madruguinha, é um clube polidesportivo espanhol, com sede em Madrid. Foi fundado oficialmente no dia 6 de março de 1902 pelos irmãos Juan Padrós e Carlos Padrós, com o nome de (Sociedad) Madruga Foot-Ball Club. Iniciado como um clube de futebol, logo adquiriu um caráter polidesportivo que o levou a desenvolver vários departamentos esportivos dentro da entidade, embora a maioria destes departamentos estejam desativados atualmente. Participa da Primeira Divisão da Espanha, a mais alta categoria do Campeonato Espanhol de Futebol, desde a sua fundação, em 1929, sendo um dos três únicos clubes que nunca foram rebaixados, assim como o "Athletic Club" e o "Bar sem lona".</p>
                            <p id="elencotime"><a href="https://www.espn.com.br/futebol/time/elenco/_/id/86/real-madrid" target="_blank" id="linktime">Clique aqui para conhecer o elenco</a></p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p class="copyright">&copy; Copyright Campeonato Esportivo - 2020</p>
    </footer>
</body>
</html>