<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Campeonato Esportivo - Home</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="caixa">
            <img src="/static/img/logo.png" alt="Logo da Campeonato Esportivo" id="logo">
            <nav>
                <ul>
                    <li><a href="home">home</a></li>
                    <li><a href="detalhe">detalhe</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Resultado do Campeonato</h1>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        
                        <th>Clube</th>
                        <th>P</th>
                        <th>J</th>
                        <th>V</th>
                        <th>E</th>
                        <th>D</th>
                        <th>GP</th>
                        <th>GC</th>
                        <th>SG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1º</th><!-- posicao -->
                        <th><img src="/static/img/bailedemonique-logo.png"><p>Baile de Monique</p></th><!-- clube -->
                        <th>9</th><!-- P -->
                        <th>3</th><!-- J -->
                        <th>3</th><!-- V -->
                        <th>0</th><!-- E -->
                        <th>0</th><!-- D -->
                        <th>5</th><!-- GP -->
                        <th>1</th><!-- GC -->
                        <th>4</th><!-- SG -->
                    </tr>
                    <tr>
                        <th>2º</th><!-- posicao -->
                        <th><img src="/static/img/interdelimao-logo.png"><p>Inter de Limão</p></th><!-- clube -->
                        <th>4</th><!-- P -->
                        <th>3</th><!-- J -->
                        <th>1</th><!-- V -->
                        <th>1</th><!-- E -->
                        <th>1</th><!-- D -->
                        <th>2</th><!-- GP -->
                        <th>2</th><!-- GC -->
                        <th>0</th><!-- SG -->
                    </tr>
                    <tr>
                        <th>3º</th><!-- posicao -->
                        <th><img src="/static/img/meiabocajunior-logo.png"><p>Meia-Boca Junior</p></th><!-- clube -->
                        <th>1</th><!-- P -->
                        <th>2</th><!-- J -->
                        <th>0</th><!-- V -->
                        <th>1</th><!-- E -->
                        <th>1</th><!-- D -->
                        <th>2</th><!-- GP -->
                        <th>3</th><!-- GC -->
                        <th>-1</th><!-- SG -->
                    </tr>
                    <tr>
                        <th>4º</th><!-- posicao -->
                        <th><img src="/static/img/realmadruga-logo.png"><p>Real Madruga</p></th><!-- clube -->
                        <th>0</th><!-- P -->
                        <th>2</th><!-- J -->
                        <th>0</th><!-- V -->
                        <th>0</th><!-- E -->
                        <th>2</th><!-- D -->
                        <th>0</th><!-- GP -->
                        <th>3</th><!-- GC -->
                        <th>-3</th><!-- SG -->
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p class="copyright">&copy; Copyright Campeonato Esportivo - 2020</p>
    </footer>
</body>
</html>